apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local   # ✅ REQUIRED FOR HEALTHCHECK
  selector:
    app: fastapi-app
  ports:
  - name: http
    port: 80
    targetPort: 8000
  healthCheckNodePort: 30154    # ✅ KEEP THIS EXACT
